<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo Lists</title>
    </head>
    <main>
        <body>
            <h1>My List</h1>
            <table>
                <tr>
                    <td>{% for listname in todolist %}</td>
                    <td>{{ listname.name }}</td>
                    <td>{% endfor %}</td>
                </tr>
            </table>
        </body>
    </main>
</html>
